:root {
  --primary-color: rgb(240, 76, 109);
  --secondary-color: rgb(255, 170, 187);
  --heading-font: "Yeseva One", serif;
  --main-font: "Poppins", sans-serif;
}

body {
  margin-top: 57px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 70px;
  text-align: center;
}

h2 {
  font-size: 48px;
}

p {
  font-family: var(--main-font);
  font-size: 18px;
}

.hero {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 120px 60px;
}

.hero p {
  text-align: center;
  font-size: 20px;
}

.projects-title {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 25px;
}

.project-img {
  border-radius: 8px;
  border: 50px solid var(--secondary-color);
}

.project-text {
  text-align: center;
  padding: 95px 25px;
  margin-top: 80px;
}

.project-btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.profile-pic {
  border-radius: 8px;
  border: 30px solid var(--secondary-color);
}

.content {
  text-align: center;
  padding: 30px;
}

.content-text {
  text-align: center;
}

.name {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  .hero {
    padding: 70px 20px;
  }

  .project-text {
    padding: 30px 22px;
    margin-top: 0;
  }

  .about-header {
    margin-top: 10px;
    margin-left: 0;
  }

  .about-text {
    margin-top: 10px;
    margin-left: 0;
  }

  .profile-pic {
    margin: 0;
  }
}
